* {
	margin: 0;
	padding: 0;
}

body {
	width: 900px;
	margin: 0 auto;
}

.box {
	height: 600px;
	border: 1px solid red;
	position: relative;
	background-color: gray;
}

div input {
	width: 100px;
	height: 30px;
	border: none;
	background-color: orange;
	background: linear-gradient(to bottom, red, yellow);
	border-radius: 5px;
}

div input:first-of-type {
	margin-left: 300px;
}