<!DOCTYPE html>
<html>
  <head>
    <title><%= age %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= age %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
